@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.appLogo {
  color: #535CE8;
  padding: 10px;
}

img.svgfix rect {
  shape-renderer: crispEdges;
}